apiVersion: apps/v1
kind: Deployment
metadata:
  name: transactions
spec:
  replicas: 2
  revisionHistoryLimit: 2
  selector:
    matchLabels:
      app: transactions
  template:
    metadata:
      labels:
        app: transactions
    spec:
      containers:
      - name: transactions
        image: transactions:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: MONGO_URI
          value: "mongodb://mongo:27017"
        - name: PORT
          value: "3000"
        readinessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 8
          periodSeconds: 5
        livenessProbe:
          tcpSocket:
            port: 3000
          initialDelaySeconds: 25
          periodSeconds: 10
        resources:
          requests:
            cpu: 100m
            memory: 128Mi
          limits:
            cpu: 500m
            memory: 512Mi

